/* Scss Document */
@font-face {
  font-family: 'AvenirLTStd-Book';
  src: url('../fonts/avenir/AvenirLTStd-Book.eot');
  src: url('../fonts/avenir/AvenirLTStd-Book.woff2') format('woff2'),
       url('../fonts/avenir/AvenirLTStd-Book.woff') format('woff'),
       url('../fonts/avenir/AvenirLTStd-Book.ttf') format('truetype'),
       url('../fonts/avenir/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg'),
       url('../fonts/avenir/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url('../fonts/avenir/AvenirLTStd-Roman.eot');
  src: url('../fonts/avenir/AvenirLTStd-Roman.woff2') format('woff2'),
       url('../fonts/avenir/AvenirLTStd-Roman.woff') format('woff'),
       url('../fonts/avenir/AvenirLTStd-Roman.ttf') format('truetype'),
       url('../fonts/avenir/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg'),
       url('../fonts/avenir/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url('../fonts/avenir/AvenirLTStd-Medium.eot');
  src: url('../fonts/avenir/AvenirLTStd-Medium.woff2') format('woff2'),
       url('../fonts/avenir/AvenirLTStd-Medium.woff') format('woff'),
       url('../fonts/avenir/AvenirLTStd-Medium.ttf') format('truetype'),
       url('../fonts/avenir/AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg'),
       url('../fonts/avenir/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
