/* Scss Document */
$font-regular: 'AvenirLTStd-Book';
$font-light: 'AvenirLTStd-Roman';
$font-semibold: 'AvenirLTStd-Medium';

$font-small: 0.875rem;
$font-smaller: 0.714rem;
	
$white-color: #fff;
$border-dark: #333;
$border-darker:#979797;
$border-light:#eaeaea;


$text-light: #eee;
$text-lighter:#6d6d6d;
$text-darker:#4a4a4a;
$text-dark:#808080;
$text-info :#270f4f;
$btn-text-info :#990620;

$btn-primary:#990620;
$btn-secondary:#8f8f8f;
$btn-secondary-color:#fff;

$link-color: #3e2962;
$tab-indicator: #270f4f;
/*background colors*/
$background-dark:#eaeaea;
$background-light:#f3f3f3;
$background-success:#3e2962;
$background-info: #990620;
$background-danger: #ff0000;
/*background colors*/

$header_bg:#1F9BC0;